<li class="user-data-item">
  <label for="{{ fieldName }}">{{ labelValue }}</label>
  <input type="{{ fieldType }}" id="{{ fieldName }}" name="{{ fieldName }}" class="input-profile" value="{{ defaultValue }}" disabled="{{ isDisable }}">
</li>