<li class="user-data-item">
  <label for="{{ name }}">{{ labelValue }}</label>
  <input 
    class="input-profile" 
    type="{{ fieldType }}" 
    id="{{ name }}" 
    name="{{ name }}" 
    value="{{ defaultValue }}" 
    disabled="{{ isDisable }}"
  >
</li>
