<div class="input-wrapper">
  <div class="empty">
    <label for="{{ name }}">{{ labelValue }}</label>
    <input type="{{ type }}" id="{{ name }}" name="{{ name }}">
  </div>
  <p class="sub-msg-{{ name }}"></p>
</div>