<div class="input-wrapper">
  <label for="{{ name }}">{{ labelValue }}</label>
  <input type="{{ type }}" id="{{ name }}" name="{{ name }}" class="input-field">
  <p class="sub-msg-{{ name }}"></p>
</div>