<form class="form {{ className }}" >
  <div class="wrapper-title">{{{ title }}}</div>
  {{#each fields}}
    {{{ this }}}
  {{/each}}
  <div class="wrapper-submit-btn">
    {{{ button }}}
    {{{ link }}}
  </div>
</form>
