<div class="input-wrapper">
  <label for="{{ name }}">{{ labelValue }}</label>
  <input 
    class="input-field"
    type="{{ type }}"
    id="{{ name }}"
    name="{{ name }}"
    {{#if autocomplete}} 
      autocomplete="{{ autocomplete }}" 
    {{/if}}
  >
  <p class="sub-msg-{{ name }}"></p>
</div>
